/*

*/

body {
  /*padding-top: 40px;
  padding-bottom: 40px;*/
  background-color: #f5f5f5;
}

.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.mylead {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.badge-pill { float:right; }

.glyphicon-align-justify{ padding-right: 10px;}
.glyphicon-print{ margin-right: 5px; color: grey;}
.glyphicon-ok{ margin-right: 10px; color:green; float:right;}
.glyphicon-remove{ margin-right: : 10px; color:red; float:right;}

#calendar {
  max-width: 900px;
  margin: 10px 10px;
}

#patientPage, #billingPage, #todoPage {
  margin: 20px 10px;
}

/*
fullCalendar related
*/
.fc-center h2{
  color: #337ab7;
  font-size: 18px;
}
.fc-day-header, .fc-time {
  color: #337ab7;
  font-size: 10px;
}
.fc-list-item-time {
  display: none;
}
.fc-widget-header {
  color: #337ab7;
  font-size: 12px;
}

/*
Session form accordion
*/
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion{
    border: 2px solid #5F9EA0;
    border-radius: 20px;
    overflow: hidden;
}
#accordion .panel{
    border: none;
    border-bottom: 2px solid #5F9EA0;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}
#accordion .panel:last-child{
    border-bottom: none;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
}
#accordion .panel-title a{
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background: #5F9EA0;
    text-align: left;
    border: none;
    border-radius: 0;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed{
    background: #fff;
    color: #5F9EA0;
}
#accordion .panel-title a.collapsed:hover{
    background: #5F9EA0;
    color: #fff;
}
#accordion .panel-title a.collapsed:hover:after{
    color: #fff;
}
#accordion .panel-body{
    padding: 10px;
    border: none;
    font-size: 14px;
    color: #888;
    line-height: 25px;
}

.SI-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.SI-group .list-group-item{
  padding: 5px;
}
.SI-group .list-group-item input{
  font-weight: bold;
}

::placeholder {
  color: red;
  opacity: 0.4;
}

/*
.test:after {
  padding: 10px 5px;
  font-family: "Glyphicons Halflings";
  color: red;
  content:"\270f";
}
*/
