<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LMHC-tool</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />

    <link rel="stylesheet" href="js/lmhc.css"/>

  </head>

  <body>
{% if permission %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LMHC tools</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a onclick="patientPage()">Patients</a></li>
            <li><a onclick="historyPage();">History</a></li>
            <li><a onclick="billingPage();">Billing</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
            <li><a disabled>
              {% if user %}
                {{user.email()}}
              {% endif %}
            </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="contaier" id="patientPage">

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <div id="patient_display"> 
            <div class="input-group">
              <input class="form-control" id="patientSearchInput" type="text" placeholder="Search..">
              <span class="input-group-addon" aria-hidden="true">
                <a onclick="$('#patientSearchInput').val('');$('#patientSearchInput').keyup();">&times;</a>
              </span>
            </div>
            <br>
            <table id="patientTable" class="table table-bordered table-striped">
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <button id="new-patient" type="button" class="btn btn-default" onclick="new_patient()">New</button>
        </div>
      </div>
    </div>

    <div class="container" id="historyPage">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <div id="calendar"> </div>
        </div>
      </div>
    </div>

    <div class="container" id="billingPage">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
          Billing period up to:
          <input type="text" id="billing-date" name="billing-date"/>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary btn-xs" onclick="getCSV();">CSV</button>
          <button type="button" class="btn btn-primary btn-xs" onclick="getPDF();">PDF</button>
          <button type="button" class="btn btn-danger btn-xs" onclick="confirmEmail();">Mail</button>
        </div>
      </div>

      <div class="row confirm-email">
        <div class="col-sm-offset-1 col-sm-8">
          <br>
          <div class="alert alert-danger" role="alert">
            Sending a final email is not reversible. The action marks sessions as billed.
          </div>
        </div>
      </div>
      <div class="row confirm-email">
        <div class="col-sm-9">
          <button type="button" class="btn btn-danger btn-xs badge-pill" onclick="sendBillingEmail();">Confirm</button>
        </div>
      </div>
    </div>

    <!-- session modal -->
    <div class="modal fade bs-example-modal-lg" id="session_info" tabindex="-1" role="dialog" aria-labelledby="sessionInfoLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="sessionInfoLabel">Session</h4>
          </div>
          <div class="modal-body">   
            <form id="new_session_form" action="/sessions" method='post'>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <!-- PI -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingPI">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePI" aria-expanded="true" aria-controls="collapsePI">
                        Patient info
                      </a>
                    </h4>
                  </div>
                  <div id="collapsePI" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPI">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                        <li class="list-group-item">
                          <div class="input-group">
                            Name: <input type="text" id="name" name="name" class="data-ro">
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div class="form-row">
                            DOB: <input id="dob" name="dob" class="data-ro" >
                            <input id="insurance" name="insurance" class="data-ro" hidden >
                            <input id="patient_id" name="patient_id" class="data-ro" hidden>
                            <input id="session_id" name="session_id" class="data-ro" hidden>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div class="input-group">
                            Diagnosis: <input type="text" id="diag" name="diag" >
                            Diagnosis code: <input type="text" id="diag_code" name="diag_code" >
                          </div>
                        </li>                        
                      </ul>
                    </div>
                  </div>
                </div>
                
                <!-- SI -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSI">
                    <h4 class="panel-title">
                      <a id="a-SI" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSI" aria-expanded="false" aria-controls="collapseSI">
                        Session info
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSI" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSI">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                        <li class="list-group-item">
                          <div class="input-group">
                            Date: <input id="seshdate" name="date" class="non-editable">
                            <div class="input-group-apend">
                                <input type="checkbox" name="no-show" id="no-show">
                                <span class="input-group-text">No show</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                        Session #: <input type="text" id="seshNo" name="seshNo" class="data-ro" >
                        </li>
                        <li class="list-group-item">
                          Modality:
                          <select id="modality" name="modality" >
                            <option id="ind" value="Individual">Individual</option>
                            <option id="fam" value="Family with patient">Family with patient</option>
                            <option id="fwo" value="Family without patient">Family without patient</option>
                            <option id="grp" value="Group">Group</option>
                            <option id="eval" value="Evaluation">Evaluation</option>
                          </select>
                        </li>
                        <li class="list-group-item">
                          <p class="help-block">New issue</p>
                          <div class="input-group">
                            <div class="input-group-prepend">
                                <input type="checkbox" name="no_new_issue" id="no_new_issue">
                                <span class="input-group-text">None reported</span>
                            </div>
                            New:
                            <input type="text" name="new_issue" id="new_issue" class="form-control">
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- RA -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingRA">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRA" aria-expanded="false" aria-controls="collapseRA">
                        Risk assessment
                      </a>
                    </h4>
                  </div>
                  <div id="collapseRA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRA">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                        <li class="list-group-item">
                          <input type="checkbox" name="RA_none" id="RA_none"> Danger to none
                        </li>
                        <li class="list-group-item">
                          <table class="table table-responsive">
                            <thead>
                              <tr>
                                <th>Self</th>
                                <th>Others</th>
                                <th>Property</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox" name="RA_self_idea"> Ideation</td>
                                <td><input type="checkbox" name="RA_others_idea"> Ideation</td>
                                <td><input type="checkbox" name="RA_prop_idea"> Ideation</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" name="RA_self_plan"> Plan</td>
                                <td><input type="checkbox" name="RA_others_plan"> Plan</td>
                                <td><input type="checkbox" name="RA_prop_plan"> Plan</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" name="RA_self_att"> Attempted</td>
                                <td><input type="checkbox" name="RA_others_att"> Attempted</td>
                                <td><input type="checkbox" name="RA_prop_att"> Attempted</td>
                              </tr>
                            </tbody>
                          </table>
                        </li>
                      </ul>                   
                    </div>
                  </div>
                </div>

                <!-- TI -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTI">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTI" aria-expanded="false" aria-controls="collapseTI">
                        Therapeutic Interventions
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTI" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTI">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- GO -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingGO">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGO" aria-expanded="false" aria-controls="collapseGO">
                        Goals
                      </a>
                    </h4>
                  </div>
                  <div id="collapseGO" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGO">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                        <li class="list-group-item">
                          <table class="table table-responsive">
                            <tbody>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input type="checkbox" name="G_1_impr" id="G_1_impr">
                                        <span class="input-group-text">Improve</span>
                                    </div>
                                    <input type="text" name="G_1_impr_txt" id="G_1_impr_txt" class="form-control">
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input type="checkbox" name="G_1_decr" id="G_1_decr">
                                        <span class="input-group-text">Decrease</span>
                                    </div>
                                    <input type="text" name="G_1_decr_txt" id="G_1_decr_txt" class="form-control">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input type="checkbox" name="G_2_impr" id="G_2_impr">
                                        <span class="input-group-text">Improve</span>
                                    </div>
                                    <input type="text" name="G_2_impr_txt" id="G_2_impr_txt" class="form-control" >
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input type="checkbox" name="G_2_decr" id="G_2_decr">
                                        <span class="input-group-text">Decrease</span>
                                    </div>
                                    <input type="text" name="G_2_decr_txt" id="G_2_decr_txt" class="form-control" >
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </li>
                        
                        <li class="list-group-item">
                          <input type="checkbox" name="G_cop_skills" id="G_cop_skills"> Develop coping skills
                        </li>
                        <li class="list-group-item">
                          <input type="checkbox" name="G_sc_skills" id="G_sc_skills"> Develop self-care skills
                        </li>
                        <li class="list-group-item">
                          <input type="checkbox" name="G_id_res" id="G_id_res"> identify resistance & roadblocks
                        </li>
                        <li class="list-group-item">
                          <input type="checkbox" name="G_expr" id="G_expr"> Increase capacity to verbalize thoughts and feelings and express self
                        </li>
                        <li class="list-group-item">
                          <input type="checkbox" name="G_verb" id="G_verb"> Verbalize thoguhts and feelings in place of acting
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- SPA -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSPA">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSPA" aria-expanded="false" aria-controls="collapseSPA">
                        Symptoms / Problem Areas
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSPA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSPA">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- notes -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingNO">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNO" aria-expanded="false" aria-controls="collapseNO">
                        Notes
                      </a>
                    </h4>
                  </div>
                  <div id="collapseNO" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNO">
                    <div class="panel-body">
                      <div class="form-group">
                        <textarea class="form-control" rows="5" id="notes" name="notes"></textarea>
                      </div>                      
                    </div>
                  </div>
                </div>

                <!-- ASS -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingASS">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseASS" aria-expanded="false" aria-controls="collapseASS">
                        Assessment
                      </a>
                    </h4>
                  </div>
                  <div id="collapseASS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingASS">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                        <li class="list-group-item">
                          <select id="ASS_CONST" name="ASS_CONST" >
                            <option value="Did">Did</option>
                            <option value="DidNot">Did not</option>
                          </select>
                          use session constructively to address problem areas.
                        </li>
                        <li class="list-group-item">
                          <select id="ASS_INSIG" name="ASS_INSIG" >
                            <option value="Did">Did</option>
                            <option value="DidNot">Did not</option>
                          </select>
                          show insightfulness.
                        </li>
                        <li class="list-group-item">
                          <select id="ASS_EFFRT" name="ASS_EFFRT" >
                            <option value="Did">Did</option>
                            <option value="DidNot">Did not</option>
                          </select>
                          show effort in addressing problem areas.
                        </li>
                        <li class="list-group-item">
                          <select id="ASS_OR" name="ASS_OR" >
                            <option value="Was">Was</option>
                            <option value="WasNot">Was not</option>
                          </select>
                          oriented.
                        </li>

                        <li class="list-group-item">
                          <div class="input-group">
                            <div class="input-group-prepend">
                                <select id="ASS_present" name="ASS_present" >
                                  <option value="Did">Did</option>
                                  <option value="DidNot">Did not</option>
                                </select>
                                <span class="input-group-text">present with</span>
                            </div>
                            <input type="text" id="ASS_present_txt" name="ASS_present_txt" class="form-control">
                            <span class="input-group-text">symptoms in session</span>

                          </div>
                        </li>

                        <li class="list-group-item">
                          <select id="ASS_ABLE" name="ASS_ABLE" >
                            <option value="Was">Was</option>
                            <option value="WasNot">Was not</option>
                          </select>
                          able to talk about stress factors and how to better manage them.
                        </li>
                        <li class="list-group-item">
                          <select id="ASS_COOP" name="ASS_COOP" >
                            <option value="Was">Was</option>
                            <option value="WasNot">Was not</option>
                          </select>
                          cooperative with therapist's efforts to assist him/her with problem areas.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              
                <!-- PLN -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingPLN">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePLN" aria-expanded="false" aria-controls="collapsePLN">
                        Plan
                      </a>
                    </h4>
                  </div>
                  <div id="collapsePLN" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPLN">
                    <div class="panel-body">
                      <ul class="SI-group list-group">
                        <li class="list-group-item">
                          Continue
                          <select id="PLN_CONT" name="PLN_CONT" >
                            <option value="Individual">individual</option>
                            <option value="Other">other</option>
                          </select>
                          on a 
                          <select id="PLN_FREQ" name="PLN_FREQ" >
                            <option value="Weekly">weekly</option>
                            <option value="Bi-weekly">bi-weekly</option>
                            <option value="Monthly">monthly</option>
                          </select>
                          basis to work through and develop coping skills to address problem areas.
                        </li>
                        <li class="list-group-item">
                          <input type="checkbox" id="PLN_PSY" name="PLN_PSY"> Continue psychiatric meditations as directed by doctor.
                        </li>
                        <li class="list-group-item">
                          Next session date: 
                          <input type="text" id="PLN_NXT" name="PLN_NXT"> 
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button id="sessionSubmit" type="button" class="btn btn-default" onclick="submit_session()">Submit</button>
            <button id="sessionEdit" type="button" class="btn btn-default" onclick="edit_session()">Edit</button>
          </div>

        </div>
      </div>
    </div>   

    <!-- Patients modal -->
    <div class="modal fade bs-example-modal-lg" id="patientForm" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal_lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="patient_display modal-title" id="patientDisplayLabel">Patients</h4>
            <h4 class="patient_form modal-title" id="patientFormLabel">New patient</h4>
          </div>
          <div class="modal-body">
  
              <div class="patient_form">
                <form id="new_patient_form" action="/patient" method="post">
                  <div class="form-group">
                    <input name="name" type="text" class="form-control" id="nameInput" placeholder="name">
                  </div>
                  <div class="form-group date">
                    <input name="dob" id="dob-date" type="text" class="form-control" name="dob" placeholder="dob">
                  </div>
                  <div class="form-group">
                    <select name="insurance" class="form-control" id="insurance" placeholder="insurance">
                      <option>BlueCrossBlueShield</option>
                      <option>None</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input name="session_number" type="text" class="form-control" id="session_number" placeholder="session number">
                  </div>
                  <div class="form-group">
                    <select name="status" class="form-control" id="status" placeholder="status">
                      <option>Active</option>
                      <option>Inactive</option>
                    </select>
                  </div>
                </form>
              </div>            

          </div>
          <div class="modal-footer">
            <button id="submit-patient" type="button" class="patient_form btn btn-default" onclick="submit_patient()">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- notes modal -->
    <div class="modal fade bs-example-modal-lg" id="notesList" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal_lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="notes_display modal-title" id="notesListLabel">Notes</h4>
          </div>
          <div class="modal-body"> 
            <div id="notesCalendar"> </div>
          </div>     
        </div>
      </div>
    </div>
    
{% else %}
<div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <h3>This account does not have the proper permissions.</h3>
      <br>
      <a href="{{ url|safe }}">Switch accounts</a> 
    </div>
  </div>
</div>
{% endif %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.1.1/d3.min.js"></script>

    <script src="js/form.js"></script>

    <script>

      var new_patient_flag = true;
      var new_session_flag = true;      

      function validateBillingDate(date){
        if (date == ''){
          alert('must specify billing date')
          return false
        }
        return true
      }

      function getCSV(){
        date = $('#billing-date').val()
        if (!validateBillingDate(date)){
          return
        }
        window.open('/bill?type=csv&end='+date)
      }

      function getPDF(){
        date = $('#billing-date').val()
        if (!validateBillingDate(date)){
          return
        }
        window.open('/bill?type=pdf&end='+date)
      }

      function confirmEmail(){
        date = $('#billing-date').val()
        if (!validateBillingDate(date)){
          return
        }
        $('.confirm-email').show()
      }

      function sendBillingEmail(){
        date = $('#billing-date').val()

        // refresh to display billed sessions
        new_session_flag = true;

        window.open('/bill?type=pdf&email=true&mark=true&end='+date)

        billingPage()
      }

      function billingPage(){
        $('#patientPage').hide()
        $('#historyPage').hide()
        $('#billingPage').show()

        $('.confirm-email').hide()

        $('#billing-date').val('')
        $('#billing-date').datepicker({
              autoclose: true,
          });

      }

      function patientPage(){
        $('#patientPage').show()
        $('#historyPage').hide()
        $('#billingPage').hide()

        load_patients()
      }

      function historyPage(){
        $('#patientPage').hide()
        $('#historyPage').show()
        $('#billingPage').hide()

        load_sessions();
      }

      // utility functions to handle different forms

      function setFormDisabled(id, value){
        d3.select(id)
          .selectAll('input')
          .attr('disabled',value);
        d3.select(id)
          .selectAll('select')
          .attr('disabled',value);
        d3.select(id)
          .selectAll('textarea')
          .attr('disabled',value);
      }

      function capitalize(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
      }

      function calendarEventClick(calEvent, jsEvent, view) {
        $("#new_session_form")[0].reset();
        populateSession(calEvent.data);
        d3.select('#sessionSubmit')
          .classed('visible',null)
          .classed('invisible',true)
        d3.select('#sessionEdit')
          .classed('visible',true)
          .classed('invisible',null)

        $('#session_info').modal('show');
      }



      function display_patient_info(item){

        form = d3.select('#new_patient_form');
        form.selectAll('.form-control')
          .attr('disabled',true);
        d3.select('#submit-patient')
          .attr('disabled',true);
        d3.select('#patientFormLabel').text('Patient info');

        form.select('#nameInput').property('value',item['name']);
        form.select('#dob-date').property('value',item['dob']);
        form.select('#insurance').property('value',item['insurance']);
        form.select('#session_number').property('value',item['session_number']);
        form.select('#status').property('value',item['status']);

        $('#patientForm').modal('show')

      }

      function submit_patient(){

        if ($('#dob-date').val() == ""){
          alert('dob cannot be empty');
          return
        }
        if ($('#nameInput').val() == ""){
          alert('name cannot be empty');
          return
        }

        document.getElementById("new_patient_form").submit();
      }

      function new_patient(){

        d3.select('#new_patient_form')
          .selectAll('.form-control')
          .attr('disabled',null)
        d3.select('#submit-patient')
          .attr('disabled',null)
        $("#new_patient_form")[0].reset();
        $('#dob-date').datepicker({
              autoclose: true,
              startView: 2
          });
        d3.select('#patientFormLabel').text('New patient');

        $('#patientForm').modal('show');

      }

      function processNotesData(data){
        return data.map(function(d){
          return {title: d.notes,
                  date: d.date,
                  data: d}
          })
      }

      function display_notes(patient){
        d3.select('#notesListLabel')
          .text('Notes for ' + patient.name );
        $('#notesList').modal('show');

        $('#notesCalendar').fullCalendar('destroy');
        $.getJSON('/sessions?pid='+patient.id, function(data){

          $('#notesCalendar').fullCalendar({
               header: {
                  left: 'prev,next',
                  center: 'title',
                  right: ''
                },

              lazyFetching: true,
              defaultView: 'listMonth',
              events: processNotesData(data),
              
              eventClick: calendarEventClick,
          });

        })

      }

      function load_sessions(){

        if (!new_session_flag){
          return
        }
        new_session_flag = false;

        $.getJSON('/sessions?pid=',function(data){
        
          $('#calendar').fullCalendar({
               height: 550,
               header: {
                  left: 'prev,next today',
                  //left: '',
                  center: 'title',
                  //right: '',
                  right: 'month,listMonth'
                },

              lazyFetching: true,
              eventLimit: true, // allow "more" link when too many events
     
              defaultView: 'listMonth',
              //listDayAltFormat: false,
              events: processPatientData(data),
              eventClick: calendarEventClick,
            });
          })        
      }

      function load_patients(){

        if (!new_patient_flag){
          return
        }
        new_patient_flag = false

        row = function(item){return item.name};

        $.getJSON('/patient', function(data){

          table = d3.select('#patientTable');
          tbody = table.select('tbody');
          selection = tbody.selectAll('a')
            .data(data.patient_list);
            
          selection.text(row)

          selection.enter()
            .append('tr')
            .append('td')
            .append('a')
            .text(row)
            .on('click',function(item){
              display_patient_info(item);
            })

          selection.exit().remove();

          tbody.selectAll('a')
            .data(data.patient_list)
            .append('span')
            .classed('invisible', function(d){return (d.status == "Inactive")})
            .classed('glyphicon',true)
            .classed('glyphicon-plus',true)
            .classed('badge-pill',true)
            .on('click',function(item){
              new_session(item);
              d3.event.stopPropagation();
            });
          tbody.selectAll('a')
            .data(data.patient_list)
            .append('span')
            .classed('glyphicon',true)
            .classed('glyphicon-align-justify',true)
            .classed('badge-pill',true)
            .on('click',function(item){
              display_notes(item);
              d3.event.stopPropagation();
            });

        })
      }

      function write_checbox(name, write) {
        document.getElementsByName(name)[0].checked = (write == "on");
        //$('[name='+name+']').prop('checked', (write == "on"))
      }

      function write_dropdown(name, write) {
        document.getElementById(name).value = write
        //$('#'+name).val(write)
      }

      function populateSessionData(data){

        ['diag', 'diag_code', 'modality', 'new_issue'].forEach(function(w){
          document.getElementById(w).value = data[w];
        })
        write_checbox('no_new_issue', data['no_new_issue']);

        // risk assessment
        RACheckArray.forEach(function(k){
          write_checbox(k, data[k]);
        })

        // interventions
        Object.keys(TICheckDict).forEach(function(k){
          write_checbox(k, data[k]);
        })
        TITextArray.forEach(function(k){
          document.getElementById(k).value = data[k];
        })

        // goals
        GCheckArray.forEach(function(k){
          //console.log('populating ' + k);
          write_checbox(k, data[k]);
        })
        GTextArray.forEach(function(k){
          document.getElementById(k).value = data[k];
        })

        // SPA
        Object.keys(SPACheckDict).forEach(function(k){
          write_checbox(k, data[k]);
        })
        SPATextArray.forEach(function(k){
          document.getElementById(k).value = data[k];
        })

        // Assessment
        ASSTextArray.forEach(function(k){
          document.getElementById(k).value = data[k];
        })

        // Plan
        PLNCheckArray.forEach(function(k){
          write_checbox(k, data[k]);
        })
        PLNTextArray.forEach(function(k){
          document.getElementById(k).value = data[k];
        })
      }

      function populateSession(data){

        setFormDisabled('#new_session_form', true);

        ['name', 'dob', 'notes'].forEach(function(s){
          document.getElementById(s).value = data[s];
        });

        if (data['notes'] == 'No show'){
          write_checbox('no-show','on');
          //console.log("No show")
        }

        document.getElementById('insurance').value = data['insurance'];
        document.getElementById('patient_id').value = data['patient_id']
        document.getElementById('session_id').value = data['id']

        document.getElementById('seshdate').value = data['date'];
        document.getElementById('seshNo').value = data['session_number'];

        populateSessionData(data);

        d3.select('#sessionInfoLabel').text('Session');
      }

      function viewMonth(){
        $('#calendar').fullCalendar('changeView', 'month')
      }

      function viewList(){
        $('#calendar').fullCalendar('changeView', 'listMonth')
      }

      /*
      function billing(final){
        route = "/billing?bill=" + (final? "Y" : "");
        generate_bill(route);
      }
      */

      function validate_session(){
        
        f = $('#seshdate').val();
        if (f == ""){
          alert("date cannot be empty");
          return false;
        }
        f = $('#notes').val();
        if ((f == "") || (f == "Client reported:") ){
          alert("notes must be entered");
          return false;
        }
        f = $('#diag_code').val();
        if (f == ""){
          alert("diagnosis code cannot be empty");
          return false;
        } 

        new_issue_filled =  $('#new_issue').val() != "";
        if (!document.getElementById('no_new_issue').checked){
          if (!new_issue_filled){
            alert("new issue cannot be empty when 'None Reported' checkbox is unchecked");
            return false;
          }
        } 
        else {
          if (new_issue_filled){
            alert("new issue cannot be filled when 'None Reported' checkbox is checked");
            return false;
          }
        }
   
        return true;
      }

      function submit_session(){

        if (!validate_session()){
          return;
        };

        document.getElementById("new_session_form").submit();

        console.log('submitted')

        $('#session_info').modal('hide');
      }

      function edit_session(){

        setFormDisabled('#new_session_form', null);
        d3.selectAll('.data-ro')
          .attr('readonly',true);
        d3.selectAll('.non-editable')
          .attr('readonly',true);
        d3.select('#sessionSubmit')
          .classed('visible',true)
          .classed('invisible',null)
        d3.select('#sessionEdit')
          .classed('visible',null)
          .classed('invisible',true)

      }

      function new_session(patient){

        setFormDisabled('#session_info', null);
        d3.selectAll('.data-ro')
          .attr('readonly',true);
        d3.selectAll('.non-editable')
          .attr('readonly',false);          
        d3.select('#sessionSubmit')
          .classed('visible',true)
          .classed('invisible',null)
        d3.select('#sessionEdit')
          .classed('visible',null)
          .classed('invisible',true)

        $('#session_info').modal('show');
        $("#new_session_form")[0].reset();
        $('#notes').val('Client reported:')


        $.getJSON('/sessions?pid=' + patient.id, function (data) {
            $('#seshdate').datepicker('destroy');


            //console.log(data);
            if (data.length == 0){
              $('#seshdate').datepicker({
                  autoclose: true,
                  todayBtn: "linked",
                });
              return;
            }

            latest_data = data[0];

            latest = moment(latest_data.date);

            // restrict datepicker
            $('#seshdate').datepicker({
                autoclose: true,
                todayBtn: "linked",
                startDate: latest.add(1,'day').toDate(),
            });

            populateSessionData(latest_data);

            // clear new_issue
            $('#new_issue').val("")
            write_checbox('no_new_issue', "on")
        });

        d3.select('#sessionInfoLabel').text('New session');

        // populate current values
        // DO NOT populate session_id
        document.getElementById('name').value = patient.name;
        document.getElementById('dob').value = patient.dob;
        document.getElementById('insurance').value = patient.insurance;
        document.getElementById('patient_id').value = patient.id;
        // incrememnt session number
        document.getElementById('seshNo').value = patient.session_number + 1


        $('#a-SI.collapsed').click();
      }

      function processPatientData(data){
        return data.map(function(d){
          return {title: d.name,
                  date: d.date,
                  color: (d.is_billed? '#A52A2A': '#5F9EA0'),
                  data: d}
          })
      }

      /*  done in python
      function generate_bill(route) {

        $.getJSON(route, function (data) {
            bills = data.Bill;
            csv = 'Name,Session Date,Procedure Code,DSM 5,Insurance\n';
            bills.forEach(function (row) {
                csv += row.name + ',';
                csv += row.session_date + ',';
                csv += row.bill_code + ',';
                csv += row.diag_code + ",";
                csv += row.insurance + ',';
                csv += "\n";
            });

            hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
            hiddenElement.target = '_blank';
            now = moment();
            hiddenElement.download = 'billing_'+now.format("YYYY-MM-DD:HH:mm")+'.csv';
            hiddenElement.click();
        });

      }*/   

      var events = [];

      $( document ).ready(function() {

        createFormSection('#collapseTI', TICheckDict);
        addOtherToList(d3.select('#collapseTI').select('ul'),"TI_other_txt")
        addOtherToList(d3.select('#collapseGO').select('ul'),"G_other_txt")
        createFormSection('#collapseSPA', SPACheckDict);
        addOtherToList(d3.select('#collapseSPA').select('ul'),"SPA_other_txt")
        addOtherToList(d3.select('#collapseASS').select('ul'),"ASS_other_txt")
        addOtherToList(d3.select('#collapsePLN').select('ul'),"PLN_other_txt")

        associateCheckText("no_new_issue", "new_issue")
        linkTextCheck("G_1_impr", "G_1_impr_txt")
        linkTextCheck("G_1_decr", "G_1_decr_txt")
        linkTextCheck("G_2_impr", "G_2_impr_txt")
        linkTextCheck("G_2_decr", "G_2_decr_txt")

        // no_show listeners
        $('input[name="no-show"]').change(function(){
          //console.log("no show")
          if (this.checked){
            //console.log('checked')
            $("#notes").val("No show")
          }
          else {
            //console.log('unchecked')
            $("#notes").val("Client reported:")
          }
        })

        // PLN_FREQ
        $('input[name=date]').change(function(){
          freq = $('select[name=PLN_FREQ').val();
          weeks = 1;
          if (freq == "Bi-weekly") {
            weeks = 2
          }
          if (freq == "Monthly") {
            weeks = 4
          }
          nxt = moment($('input[name=date]').val()).add(weeks,'week').format('MM/DD/YYYY');
          $('input[name=PLN_NXT]').val(nxt);
        })
        
        // patient search
        $("#patientSearchInput").keyup(function(){
          value = $(this).val().toLowerCase();
          $("#patientTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });          
        });


        // close navbar dropdown after choice
        $(document).on('click','.navbar-collapse.in',function(e) {
          if( $(e.target).is('a') ) {
              $(this).collapse('hide');
          }
        });

        patientPage();
      });
    </script>

  </body>
</html>